.container {
  display: flex;
  justify-content: space-between;
}

li {
  text-decoration: underline;
  font-size: 125%;
  text-decoration-color: teal;
  text-decoration-style: 4px;
}

body {
  color: white;
  background-image: url("./cover.png");
}

h1 {
  text-align: center;
  color: white;
  font-size: 15vh;
}

button {
  display: inline-block;
  padding: 4px;
}

#books-query {
  max-width: 50%;
  margin-left: 20px;
}
