@import url("https://fonts.googleapis.com/css?family=Lato");

.container {
  display: flex;
  justify-content: space-between;
}

li {
  text-decoration: underline;
  font-size: 125%;
  text-decoration-color: teal;
  text-decoration-style: 4px;
}

body {
  color: white;
  background-image: url("./cover.png");
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
  color: #ffff00;
  font-size: 20vh;
  text-shadow: 2px 4px;
}

button {
  display: inline-block;
  padding: 4px;
}

#books-query {
  max-width: 50%;
  margin-left: 20px;
}

#book-title {
  text-decoration: underline;
  text-align: left;
  font-size: 2em;
}

#books-query {
  color: white;
  font-size: 2em;
}
